<div>
    <h1>Hello Dashboard!!!</h1>

    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Vakantiedagen</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">25</span> Totale vakantiedagen
                        </li>
                        <li class="list-group-item">
                            <span class="badge">8.5</span> Gebruikte vakantiedagen
                        </li>
                        <li class="list-group-item">
                            <span class="badge">16.5</span> Resterende vakantiedagen
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span> Geplande vakantiedagen
                        </li>
                        <li class="list-group-item">
                            <span class="badge">11.5</span> Resterende vakantiedagen eind v/h jaar
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Geboekte uren</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">1146</span> Declarabele uren dit jaar
                        </li>
                        <li class="list-group-item">
                            <span class="badge">115</span> Non-declarabele uren dit jaar
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4">

        </div>
    </div>




</div>